<!-- Encabezado, podría tener un logo, menú de navegación, etc. -->
<header>
  <h1>Mi Papelería</h1>
  <nav>
    <a routerLink="/productos">Productos</a>
    <a routerLink="/carrito">Carrito</a>
    <!-- Puedes añadir más enlaces si es necesario -->
  </nav>
</header>

<!-- Contenido principal, las vistas se cargarán aquí -->
<router-outlet></router-outlet>

<!-- Pie de página, podría tener información de contacto, derechos de autor, etc. -->
<footer>
  <p>&copy; 2023 Mi Papelería. Todos los derechos reservados.</p>
</footer>
